<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Capstone Project</title>
  </head>

  <body>
    <div id="absolute-header">
      <h1>Travel Planner</h1>
    </div>
    <div id="content">
      <header>
        header
        <h1>Travel Planner</h1>
      </header>
      <nav>Nav</nav>
      <aside>
        aside
        <form>
          <input
            type="text"
            placeholder="Enter city here"
            name="city"
            id="city"
            required
          />
          <input type="date" id="date" />
          <input type="button" value="Vacation Time!" id="submitbtn" />
        </form>
      </aside>

      <main>main</main>

      <article>Article</article>
      <section>
        section
        <p>Travelling to:</p>
        <div class="dest-result"></div>
        <br />
        <br />
        <p>Travelling on:</p>
        <div class="date-result"></div>
      </section>

      <footer>Footer</footer>
    </div>
    <script>
      // // Check that service workers are supported
      // if ('serviceWorker' in navigator) {
      //   // Use the window load event to keep the page load performant
      //   window.addEventListener('load', () => {
      //     navigator.serviceWorker.register('/service-worker.js');
      //   });
      // }
    </script>
  </body>
</html>
