<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Capstone Project</title>
  </head>

  <body>
    <div id="content">
      <header>
        <h1>Travel Planner</h1>
      </header>
      <aside>
        <form>
          <label for="city"><p>Destination</p></label>
          <input
            type="text"
            placeholder="Enter city here"
            name="city"
            id="city"
            required
          />
          <label for="date"><p>Departure Date</p></label>
          <input type="date" id="date" />
          <label for="date-return"><p>Return Date</p></label>
          <input type="date" id="date-return" />
          <input type="button" value="Go!" id="submitbtn" />
        </form>
      </aside>

      <main>
        <img src="" alt="" id="placeImage" />
      </main>
      <section>
        <div class="section-flex">
          <div class="itinerary">
            <p>Travelling to:</p>
          </div>
          <div class="itinerary">
            <div class="dest-result"></div>
          </div>
          <div class="itinerary">
            <p>Travelling on:</p>
          </div>
          <div class="itinerary">
            <div class="date-result"></div>
          </div>
          <div class="itinerary">
            <p>Return date:</p>
          </div>
          <div class="itinerary">
            <div class="date2-result"></div>
          </div>
          <div class="itinerary">
            <p>Trip duration:</p>
          </div>
          <div class="itinerary">
            <div class="duration-result"></div>
          </div>
        </div>
      </section>

      <article>
        <h2>Weather</h2>
        <div id="weather-forecast"></div>
      </article>

      <footer></footer>
    </div>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
