<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <base href="/" />
    <title>Webpack Boiler Plate</title>
  </head>

  <body>
    <header></header>

    <main>
      <h1>Hello World!</h1>
      <form action=""></form>
    </main>

    <footer></footer>
    <script>
      // Check that service workers are supported
      if ('serviceWorker' in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/service-worker.js');
        });
      }
    </script>
  </body>
</html>
